################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFund.Modules.Stock.Tests/obj/Debug/build.force
